
.icon-mail:before { content: '\e800'; } /* '' */
.icon-laptop:before { content: '\e801'; } /* '' */
.icon-cog-alt:before { content: '\e803'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */
